body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  padding: 30px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.button-on {
  background-color: red;
}

.button-off {
  background-color: gray; 
}

